/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
npm-debug.log
test-output
/app/styles/*.css
.idea
/server.js
/server.js.map
/public/css
!/public/css/pace.css
/public/fonts
/public/js/app.js
/public/js/main-rtl.js
/public/js/main.js
/public/js/plugins.js
/public/js/devServerClient.js
/tmp
/coverage
/public/bower_components
./images
/public/images