doctype html
html.default(dir=dir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title APEC Connect

    //- seo
    meta(name='application-name', content='APEC Connect')
    meta(name='author', content='APEC Connect')
    meta(name='description', content='APEC Connect')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //- favicon
    link(rel='apple-touch-icon', sizes='57x57', href='/favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/favicons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/favicons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/favicons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/favicons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/favicons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/favicons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/favicons/apple-touch-icon-152x152.png')
    meta(name='apple-mobile-web-app-title', content='APEC Connect')
    link(rel='icon', type='image/png', href='/favicons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/favicons/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileImage', content='/favicons/ms-icon-144x144.png')

    //Change browser colour
    // Chrome, Firefox OS and Opera
    meta(name='theme-color', content='#0D47A1')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#0D47A1')
    //-- iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#0D47A1')

    //Fullscreen mode
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')

    block header

  body.pace-big(data-version='4.0.0')
    script(id='preloadedData', type='application/json')!=data
    block content
    block scripts
    block stylesheets
