doctype html
html.default(dir=dir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title APEC CONNECT

    //- seo
    meta(name='application-name', content='APEC CONNECT')
    meta(name='author', content='APEC CONNECT')
    meta(name='description', content='APEC CONNECT')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //- favicon
    meta(name='apple-mobile-web-app-title', content='APEC CONNECT')
    link(rel='shortcut icon', type='image/png', href='/favicon.png')

    //Change browser colour
    // Chrome, Firefox OS and Opera
    meta(name='theme-color', content='#0D47A1')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#0D47A1')
    //-- iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#0D47A1')

    //Fullscreen mode
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')

    block header

  body.pace-big(data-version='4.0.0')
    script(id='preloadedData', type='application/json')!=data
    block content
    block scripts
    block stylesheets
