body {
    padding-top: 50px;
}

.btn-submit {
    background-color: #85276B;
    border-color: #6b1f56;
    color: white;
}

.btn-submit:hover {
    background-color: #6b1f56;
    color: white;
}

.navbar {
    font-size: 1.2em;
}

.flag {
    height: 40px;
    margin-top: 5px;
}

.panel-footer {
    text-align: right;
}

.brand {
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 15px;
    font-size: 17px;
    line-height: 33px;
}

.brand a {
    color: #000;
}

.brand a:hover {
    text-decoration: none;
    color: #6b1f56;
}

.brand .text {
    display: inline;
    margin-top: 2px;
}

.navbar .navbar-nav > li > a {
    color: #6b1f56;
    padding: 15px 15px;
}

@media (min-width: 992px) {

    .navbar .navbar-nav > li > a {
        color: #6b1f56;
    }

    .brand .text {
        display: inline;
    }
}


.navbar .navbar-nav > .active > a {
    color: #6b1f56;
}